#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  text-align: right;
  border-spacing: 1rem;
}

.SinglePlayer {
  border: 10px;
  border-color: rgb(168, 35, 35);
  border-width: 5px;
  font-family: cursive;
  padding: 1rem;
}

.card {
  padding: 2em;
}

